* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  padding: 10px;
  font-size: 16px;
  &.hidden {
    overflow-y: hidden;
  }
}

.overlay {
  position: fixed;
  opacity: 0;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: #0000003f;
  z-index: 2;

  &.hidden {
    opacity: 1;
    pointer-events: all;
  }
}

.title {
  text-align: center;
  font-size: 36px;
  color: $color-dark-gray;
  line-height: 44px;
  margin: 15px;
}

.btn {
  @include button();
  margin: 20px auto;
  display: block;
  font-size: 15px;
  padding: 2rem 4rem;
  height: 80px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #204c08;
  border-color: $color-aquamarine;
  font-weight: 600;
  border: 1px solid;
  border-radius: 7px;
  color: $color-aquamarine;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    opacity: 0.3;
    background: $color-aquamarine;
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: #000;
  }

  &:hover:after {
    width: 110%;
  }

  &.play {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
  }

  &.repeat {
    width: 75px;
    height: 75px;
    font-size: 0;
    background-image: url(./assets/image/repeat.svg);
    background-color: #204c08;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px, cover;
    background-position: 50%;
  }
}
