.statistic {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px 10px 10px;

  &-table {
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    box-shadow: 3px 3px 10px 0 #00000030;

    .table-body {
      th,
      td {
        border: 1px solid #1c2a92;
        padding: 5px;
        text-align: center;
      }

      th {
        cursor: pointer;
        padding: 10px 5px;
        background-color: #bac741;
      }

      td {
        padding: 5px;
        background-color: #ccccd1;
      }
    }
  }
}

@media (max-width: 600px) {
  .statistic-table {
    font-size: 13px;
  }
}

@media (max-width: 510px) {
  .statistic-table {
    font-size: 11px;
  }
}

@media (max-width: 440px) {
  th,
  .cell-word {
    writing-mode: vertical-lr;
  }
  .div-th {
    writing-mode: horizontal-tb;
  }
}
