$color-white: #fff;
$color-green: #3ac211;
$color-green-active: #a0b302;
$color-aquamarine: #7fffd4;
$color-gray: #999;
$color-dark-gray: #616161;
$color-light-gray: #bbb;
$color-shadow: #00000040;
$font: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

@mixin button() {
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  &:hover {
    transition: all 0.1s ease-in-out;
  }
}
